<%= link_to "New Datastore", new_datastore_path %>
<%= link_to "New File", new_datafile_path %>

<h2>Datastores</h2>
<ul>
  <% @datastores.each do |datastore| %>
    <li><%= link_to datastore.name, datastore %></li>
  <% end %>
</ul>
