development:
  secret_key_base: 
  admin_name: 
  admin_email:
  admin_password:
 
test:
  secret_key_base: 
  admin_name: 
  admin_email:
  admin_password:
 
production:
  secret_key_base: 
  admin_name: 
  admin_email:
  admin_password:
