<div id='metadata'>
	<%= @metadata.key %>: <%= @metadata.value %><br/>
<%= link_to "Edit Metadata", [:edit, @datafile, @metadata] %>
<%= link_to "Delete Metadata", [@datafile, @metadata], method: :delete,
data: { confirm: "Are you sure you want to delete this metadata?"} %>

</div>

